# =========================
# ENV FILES
# =========================
.env
.env.*
client/.env
server/.env

# =========================
# NODE MODULES
# =========================
node_modules/
client/node_modules/
server/node_modules/

# =========================
# NEXT.JS
# =========================
.next/
client/.next/
out/

# =========================
# UPLOADS
# =========================
server/uploads/

# =========================
# COVERAGE
# =========================
coverage/

# =========================
# BUILD FILES
# =========================
build/
dist/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# VERCEL
# =========================
.vercel/

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# KEYS / CERTIFICATES
# =========================
*.pem